.floorplan {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;

    & aside {
        display: flex;
        flex-direction: column;

        & h2 {
            margin-top: 0;
            margin-bottom: 24px;
            color: #7B705E;
        }

        & details {
            border-top: 1px solid #e3ded9;

            & summary {
                text-transform: uppercase;
                padding: 12px 16px;
                list-style: none;
                color: #9E8E82;
                cursor: pointer;
                font-size: 20px;
                font-weight: 500;

                &::-webkit-details-marker {
                    display: none;
                }
            }

            &:last-child {
                border-bottom: 1px solid #e3ded9;
                margin-bottom: 72px;
            }
        }

        & .interior,
        & .exterior,
        & .title {
            margin-top: 0px;
            margin-bottom: 12px;
            color: #7B9386;
        }

        & .level,
        & .rooms {
            margin-top: 0px;
            margin-bottom: 24px !important;
            color: #7B9386;
        }

        & .total {
            margin-top: 0;
        }

        & a[download] {
            display: flex;
            margin: 0px;
            margin-top: 48px;
            text-transform: uppercase;
            padding: 12px 24px;
            border: 1px solid #7B9386;
            transition: color 200ms, background-color 200ms;
            text-align: center;
            justify-content: center;
            align-self: flex-start;
            width: auto;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            color: #7B9386;
            text-decoration: none;
            white-space: nowrap;
            font-weight: 500;

            &:hover {
                background-color: #A8A195;
                color: #FFFFFF;
            }
        }

        & #residenceInfo {

            color: #7B9386;
            
            & .title {
                font-size: 2.25rem;
                line-height: 1em;
                margin-bottom: 0.75rem;
            }

            & .level {
                font-size: 1.25rem;
                line-height: 1.2em;
                font-family: 'Montserrat', sans-serif;
            }

            & .rooms {
                font-size: 18px;
            }

            & p {
                font-size: 16px;
                color: #7B9386;
                margin-bottom: 12px;
            }
        }
    }


    & .viewer {
        display: flex;
        flex-direction: column;
        grid-column: span 2 / span 2;

        & h3 {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 48px;
            margin-top: 0;
            font-size: 36px;
            color: #7B9386;
        }

        & .container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            & img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: contain;
            }
        }
    }

    svg .floor {
        & .bg {
            fill: #FFFFFF;
            transition: fill 200ms ease;
            cursor: pointer;
        }

        &.active .bg,
        &:hover .bg {
            fill: #beb9b0;
        }

        &.disabled .bg {
            fill: #dfdfdf;
            cursor: not-allowed;
        }
    }

    .mobile-only {
        display: none;
    }

    .not-in-mobile {
        display: block;
    }

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;

        aside {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 4rem;
            row-gap: 2rem;

            h2 {
                grid-column: span 2;
                font-size: 2.5rem;
                margin-bottom: 0;
            }

            #residenceInfo {
                & .title {
                    font-size: 30px;
                }

                & .level {
                    font-size: 18px;
                }

                & p.rooms
                 {
                    font-size: 16px;
                }

                &  p:not(.rooms) {
                    font-size: 14px;
                }
            }
        }

        .floorplan-container {
            h2 {
                font-size: 36px;
            }

        }

        .viewer h3{
            font-size: 36px;
            margin-bottom: 32px;
        }

        .viewer .container img {
            position: static;
        }
    }

    @media (max-width: 767px) {
        .mobile-only {
            display: block;
        }

        .not-in-mobile {
            display: none;
        }

        & aside {
            gap: 16px;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            h2 {
                font-size: 2rem;
            }

            & .floorplan-container {
                grid-column: 2 span / 2 span;
            }

            details:last-child {
                margin-bottom: 0px;
            }
        }

        #residenceInfo {
            color: #7B9386;

            > * {
                margin-bottom: 0.5em;
            }
            
            & .title {
                font-size: 24px;
            }

            & .level {
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 1em;
            }

            & p.rooms
             {
                font-size: 16px;
                margin-bottom: 1em;
            }

            &  p:not(.rooms) {
                font-size: 14px;
            }

            & #downloadButton {
            display: flex;
            margin: 0px;
            margin-top: 36px;
            text-transform: uppercase;
            padding: 12px 24px;
            border: 1px solid #7B9386;
            transition: color 200ms, background-color 200ms;
            text-align: center;
            justify-content: center;
            align-self: flex-start;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            color: #7B9386;
            text-decoration: none;
            white-space: nowrap;
            font-weight: 500;

            &:hover {
                background-color: #A8A195;
                color: #FFFFFF;
            }
            }
        }

        .viewer h3{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }


}
